
#App .dev-switch {
  margin: 1em;
}

#App .dev-hud {
  pointer-events: none;
  position: fixed;
  max-height: 100vh;
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  background: 0;
  /* To completely shrink when minimized */
  min-height: 0;
}

/* https://github.com/philipwalton/flexbugs#flexbug-14 */
#App .dev-menu {
  display: flex;
  flex-flow: wrap;
  writing-mode: vertical-lr;
  background: rgba(255, 255, 255, .7);
}

#App .dev-menu .item {
  /*flex: 1;*/
  writing-mode: horizontal-tb;
  flex-direction: column;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  border-right: 1px solid rgba(0, 0, 0, .1);
}

.dev-hud .off {
  opacity: .7;
}

.dev-hud input,
.dev-hud button,
.dev-hud .heading-with-detail i {
  pointer-events: all;
}

.dev-hud .ui.hide {
  margin: 0;
  padding: 0.5em;
  height: 2em;
}

.dev .dev-hud .checkbox {
  white-space: nowrap;
}

.dev .dev-hud .load-buttons {
  display: flex;
  justify-content: space-between;
}

.dev .dev-hud .message {
  white-space: pre-wrap;
}

/* ========================= 
 * ALTERNATIVE FUNCTIONALITY
 * ========================= */
#App.dev.devHidden .dev-menu {
  height: 0;
  overflow: hidden;
}

.dev.english .snippet[lang="en"] {
  color: red;
  text-decoration: underline red double;
}

.dev.nonEnglish .snippet:not([lang="en"]) {
  color: blue;
  text-decoration: underline blue;
}
