
#App .dev-switch {
  margin: 1em;
}

#App .dev-hud {
  position: absolute;
  align-self: flex-end;
  min-height: 0px;
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.dev-hud .ui.hide {
  margin: 0;
  padding: 0.5em;
  height: 2em;
}

.dev.english .snippet[lang="en"] {
  color: red;
  text-decoration: underline red double;
}

.dev.nonEnglish .snippet:not([lang="en"]) {
  color: blue;
  text-decoration: underline blue;
}
