body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

form .field-aligner {
  display: inline-block;
  text-align: left;
}

#App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#root {
  height:  100%;
}

#HashRouter {
  flex: 1 0;
  display: flex;
  flex-direction: column;
}

#HomePage {
  background-image: url(./images/splash.svg) !important;
  background-size: cover !important;
  flex: 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#HomeContent {
  flex: 1 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*
Used to fill vertical space.
`height: 100%` doesn't work with Flexbox on Mobile Safari.
*/
.flex-column {
  display: flex!important;
  flex-direction: column;
}
.flex-item {
  flex: 1 0;
}

.center-contents {
  display: flex;
  justify-content: center;
}

.heading-with-detail {
  white-space: nowrap;
}

#cliff-effects-tool .show-on-yes {
  display: inline-block;
}

#cliff-effects-tool .form .cashflow-display {
  margin-bottom: 1em;
}

.ui.form h4.ui.header.cashflow-column,
.ui.form .cashflow .cashflow-column {
  display: inline-block;
  margin-right: .2em !important;
  width: 7em;
  text-align: center;
}

.ui.form h4.ui.header.cashflow-column {
  margin-top: 0;
}

#cliff-effects-tool .form .cashflow .cashflow-column.output-number,
#cliff-effects-tool .form .cashflow .cashflow-column.output-number input {
  text-align: right;
  width: 7em;
  display: inline-block;
}

#cliff-effects-tool .form .cashflow .cashflow-column.output-number {
  margin-bottom: 0;
}

#cliff-effects-tool .form .cashflow-display .cashflow-column.output-number {
  padding-right: 1em;
  margin-top: .5em;
  margin-bottom: .5em;
}

.ui.form h4.ui.header.cashflow-column:last-child,
.ui.form .cashflow .cashflow-column:last-child,
.ui.form .cashflow .cashflow-column-last-child {
  text-align: left;
  width: auto;
  padding-left: 1em !important;
}

/* One of these two groups */
.info-revealer .info-tooltip {
    display: none;
}
.info-revealer:hover .info-tooltip,
.info-revealer:active .info-tooltip {
    display: inline-block;
}
.info-revealer:hover .info-indicator,
.info-revealer:active .info-indicator {
    display: none;
}

.label-info { display: inline; }
.label-info.hidden { display: none; }

.button.ui.large.big-button {
  flex-basis: 130px;
}

.massive-toggle .ui.toggle.checkbox input~label:before {
    background-color: rgba(0, 0, 0, 0.23);
}
.massive-toggle .ui.toggle.checkbox input~label:after {
    transform: scale(0.85) translate(10%, 0);
}
.massive-toggle .ui.toggle.checkbox input:focus~label:before {
    background-color: rgba(0, 0, 0, 0.4);
}
.massive-toggle .ui.toggle.checkbox input:checked~label:after {
    transform: scale(0.85) translate(-10%, 0);
}

#addMember {
    padding: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: 0.7rem;
}

/* Override text unselectable in semantic-ui-react */
/* though .ui.menu .text.item > *,
.ui.menu .item > a:not(.ui),
.ui.menu .item > p:only-child
are all user-select: text as is
.ui.dimmer > .content
*/
.ui.checkbox input.hidden+label,
.ui.button,
.ui.dimmer,
.ui.divider,
.ui.multiple.dropdown > .label,
ul.ui.list li:before,
.ui.bulleted.list .list > .item:before,
.ui.bulleted.list > .item:before,
ol.ui.list li:before,
.ui.ordered.list .list > .item:before,
.ui.ordered.list > .item:before,
.ui.menu .item,
.ui.sortable.table thead th.sorted,
.ui.sortable.table thead th.sorted:hover {
    user-select: all;
}

/* Remove controls from Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* Remove controls from Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Removes leftover margin */
}

/* Old selector used for 'Submit Feedback' and 'Reset' buttons */
.fixed {
  top: 6.2em;
  left: -.75em;
  position: fixed;
}

.rotate {
    transform-origin: top left;
    transform: rotate(270deg);
}

/* CHARTS */
.graph-holder {
  position: relative;
  min-height: 7rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.graph-time-options {
  position: absolute;
  top: 2em;
  right: 0;
}

.client-graph.ui.message {
  flex: 1;
  margin-bottom: 0;
}

/* FORM ELEMENTS */

/* - Yes/No Toggle - */
/* WARNING: Non-column appearance will remain until radio
buttons are put on the left side. */
.radio-yes-no {
  display: flex;
  margin-bottom: 1rem;
}

.ui.form .radio-yes-no .field {
  margin-bottom: 0;
}

.earned-from {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.ui.form i.icon.attention-font {
  color: #f2711c;
  font-weight: 600;
}

.attention-arrow {
  display: inline-block;
  margin-right: 1rem;
}

.attention-arrow i.fitted.attention-font {
  line-height: .6em;
}

/* Give padding between elements, but not at the start
so it can be in-line with other form components.
Unfortunately, we haven't found a great way to keep
elements from being over-stretched when there's too much
room and yet well-spaced when they're big, so padding is
the way we're doing comfortable space between shorter
form elements. */
.radio-yes-no > div {
  padding-left: 20px;
}

.radio-yes-no :first-child {
  padding-left: 0;
}


/* FEEDBACK BUTTON */
#feedback_fixed {
    position: fixed;
    top: 234px;
    left: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* RESET BUTTON */
#reset_fixed {
    position: fixed;
    top: 362px;
    left: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #f2711c;
}

#reset_fixed:hover {
  background-color: #d16614;
}


/* FUNCTIONAL */
.has-details {
  display: inline-block;
}

i.icon.details-icon {
  padding-left: .5em;
  padding-right: 1em;
  font-size: 1.2em;
}


/* =============== */
/* PREDICTIONS (manual theme implementation) */
/* =============== */
/* If theme is changed, this will have to be changed by hand */

.ui.attached.tabular.menu {
  border-bottom-color: #00b6ad;
}

.ui.attached:not(.message)+.ui.attached.segment:not(.top) {
  border-color: #00b6ad;
}

.ui.tabular.menu .item {
  border-color: #dedede;
  border-top-width: 1px;
  border-radius: .28571429rem .28571429rem 0 0;
}

.ui.tabular.menu .item:not(.active):hover {
  background-color: #dedede;
}

/* File semantic-ui-react bug report? This is not 0 automatically */
/* In semantic-ui-react `.attached` is not included */
.ui.attached.menu>.item:first-child {
  border-bottom-left-radius: 0;
}
