body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

form .field-aligner {
  display: inline-block;
  text-align: left;
}

#App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#root {
  height:  100%;
}

#HashRouter {
  flex: 1 0;
  display: flex;
  flex-direction: column;
}

#HomePage {
  background-image: url(./images/splash.svg) !important;
  background-size: cover !important;
  flex: 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#HomeContent {
  flex: 1 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*
Used to fill vertical space.
`height: 100%` doesn't work with Flexbox on Mobile Safari.
*/
.flex-column {
  display: flex!important;
  flex-direction: column;
}
.flex-item {
  flex: 1 0;
}

.center-contents {
  display: flex;
  justify-content: center;
}

.ui.form h4.ui.header.cashflow-column,
.ui.form .cashflow .cashflow-column {
  display: inline-block;
  margin-right: .2em !important;
  width: 7em;
  text-align: center;
}

.ui.form h4.ui.header.cashflow-column:last-child,
.ui.form .cashflow .cashflow-column:last-child,
.ui.form .cashflow .cashflow-column-last-child {
  text-align: left;
  width: auto;
  padding-left: 1em !important;
}

.ui.form .cashflow .cashflow-column .ui.input input[type="number"] {
  text-align: right;
  width: 7em;
  display: inline-block;
}

/* One of these two groups */
.info-revealer .info-tooltip {
    display: none;
}
.info-revealer:hover .info-tooltip,
.info-revealer:active .info-tooltip {
    display: inline-block;
}
.info-revealer:hover .info-indicator,
.info-revealer:active .info-indicator {
    display: none;
}

.label-info { display: inline; }
.label-info.hidden { display: none; }


.massive-toggle .ui.toggle.checkbox input~label:before {
    background-color: rgba(0, 0, 0, 0.23);
}
.massive-toggle .ui.toggle.checkbox input~label:after {
    transform: scale(0.85) translate(10%, 0);
}
.massive-toggle .ui.toggle.checkbox input:focus~label:before {
    background-color: rgba(0, 0, 0, 0.4);
}
.massive-toggle .ui.toggle.checkbox input:checked~label:after {
    transform: scale(0.85) translate(-10%, 0);
}

#addMember {
    padding: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: 0.7rem;
}

/* Override text unselectable in semantic-ui-react */
/* though .ui.menu .text.item > *,
.ui.menu .item > a:not(.ui),
.ui.menu .item > p:only-child
are all user-select: text as is
.ui.dimmer > .content
*/
.ui.checkbox input.hidden+label,
.ui.button,
.ui.dimmer,
.ui.divider,
.ui.multiple.dropdown > .label,
ul.ui.list li:before,
.ui.bulleted.list .list > .item:before,
.ui.bulleted.list > .item:before,
ol.ui.list li:before,
.ui.ordered.list .list > .item:before,
.ui.ordered.list > .item:before,
.ui.menu .item,
.ui.sortable.table thead th.sorted,
.ui.sortable.table thead th.sorted:hover {
    user-select: all;
}

/* Remove controls from Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* Remove controls from Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Removes leftover margin */
}

/* Old selector used for 'Submit Feedback' and 'Reset' buttons */
.fixed {
  top: 6.2em;
  left: -.75em;
  position: fixed;
}

.rotate {
    transform: rotate(270deg);
}

/* CHARTS */
.graph-holder {
  position: relative;
}

.graph-time-options {
  position: absolute;
  top: 2em;
  right: 0;
}

/* FORM ELEMENTS */

/* - Yes/No Toggle - */
/* WARNING: Non-column appearance will remain until radio
buttons are put on the left side. */
.radio-yes-no {
  display: flex;
}

/* Give padding between elements, but not at the start
so it can be in-line with other form components.
Unfortunately, we haven't found a great way to keep
elements from being over-stretched when there's too much
room and yet well-spaced when they're big, so padding is
the way we're doing comfortable space between shorter
form elements. */
.radio-yes-no > div {
  padding-left: 20px;
}
.radio-yes-no > div:nth-of-type(1) {
  padding-left: 0;
}

/* FEEDBACK BUTTON */
#feedback_fixed {
    position: fixed;
    top: 148px;
    left: -57px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* RESET BUTTON */
#reset_fixed {
    position: fixed;
    top: 290px;
    left: -39px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #f2711c;
}

#reset_fixed:hover {
  background-color: #d16614;
}
