body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

form .field-aligner {
	display: inline-block;
	text-align: left;
	max-width: 80%;
}

#root, #App {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* One of these two groups */
.info-revealer .info-tooltip {
	display: none;
}
.info-revealer:hover .info-tooltip,
.info-revealer:active .info-tooltip {
	display: inline-block;
}
.info-revealer:hover .info-indicator,
.info-revealer:active .info-indicator {
	display: none;
}

.label-info { display: inline; }
.label-info.hidden { display: none; }


.massive-toggle .ui.toggle.checkbox input~label:before {
	background-color: rgba(0, 0, 0, 0.23);
}
.massive-toggle .ui.toggle.checkbox input~label:after {
	transform: scale(0.85) translate(10%, 0);
}
.massive-toggle .ui.toggle.checkbox input:focus~label:before {
	background-color: rgba(0, 0, 0, 0.4);
}
.massive-toggle .ui.toggle.checkbox input:checked~label:after {
	transform: scale(0.85) translate(-10%, 0);
}

#addMember {
	padding: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: 0.7rem;
}

/* Override text unselectable in semantic-ui-react */
/* though .ui.menu .text.item > *,
.ui.menu .item > a:not(.ui),
.ui.menu .item > p:only-child
are all user-select: text as is
.ui.dimmer > .content
*/
.ui.checkbox input.hidden+label,
.ui.button,
.ui.dimmer,
.ui.divider,
.ui.multiple.dropdown > .label,
ul.ui.list li:before,
.ui.bulleted.list .list > .item:before,
.ui.bulleted.list > .item:before,
ol.ui.list li:before,
.ui.ordered.list .list > .item:before,
.ui.ordered.list > .item:before,
.ui.menu .item,
.ui.sortable.table thead th.sorted,
.ui.sortable.table thead th.sorted:hover {
	user-select: all;
}

/* Remove controls from Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* Remove controls from Safari and Chrome */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0; /* Removes leftover margin */
}
